.main-info-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 2em;
  border: 4px solid black;
  border-radius: 10px;
  width: 100%;
}

.summoner-name {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5em;
}

.player-level {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
}