.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: darkblue;
  height: 3.5rem;
  width: 100%;
}

.site-title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
  text-decoration: none;                           
  color: white;
  margin-left: 2em;
}

.right-search-bar {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  margin-right: 4em;
}