.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: darkblue;
  height: 3.5rem;
  padding-left: 2rem;
  padding-right: 4rem;
}

.site-title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
  text-decoration: none;                           
  color: white;
}

.right-search-bar {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
}