.info-container {
  display: flex;
  gap: 1rem;
  border: 3px solid black;
  width: 20%;
  height: 10rem;
  background-color: lightblue;
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 1rem;
}

.info-subcontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}