.player-info-container {
  display: flex;
  flex-direction: column;
  margin-top: 4em;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 2em;
}

.subcontainer {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-top: 2em;
}